.chatRoom{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex-grow: 1;
}

.userInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

textarea{
    font-size: 1.3em;
    resize:none;
    border: none;
    border-radius: 7px;
    background-color: aliceblue;
    color: black;
    margin-right: 1em;
    display: flex;
    
    padding: 5x;
    text-wrap: hard;
    flex-grow: 2;
}

.header{
    box-sizing: border-box;
    padding: 1em;
    background-color: rgb(96, 107, 107);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header h3 {
    margin: 0;
}

.header > *{
    margin-left: 1em;
    margin-right: 1em;
}

.content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 2em;
    padding-top: 5em;
    padding-bottom: 7em;
}

.footer{
    box-sizing: border-box;
    background-color: rgb(96, 107, 107);
    padding: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.typingIndicator{
    height: 30px;
}

