.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    background-color: #23417b;
    margin: 1em;
    width: 200px;
    max-height: 80px;
}   

h3{
    color: rgb(255, 255, 255);
}

a:visited{
    color:aliceblue;
}

a{
    color:aliceblue
}


